@model IEnumerable<BlogWeb.DL.Models.Blog>
@using BlogWeb.DL.Models
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@*@model IPagedList<BlogWeb.DL.Models.Blog>*@
@foreach (var item in Model)
{

    <div class="single-recent-blog-post">
        <div class="thumb">
            <a href="~/MakaleDetay/@item.BlogId"> <img class="img-fluid" src="~/images/@item.ImageUrl"> </a>
            <ul class="thumb-info">
                <li>
                    <a>
                        <i class="ti-user"></i>
                        @{
                            Context c = new Context();
                            var result1 = c.User.Where(x => x.UserId == @item.UserId).FirstOrDefault();
                        }
                        @result1.FirstName @result1.LastName

                    </a>
                </li>
                <li><a><i class="ti-notepad"></i>@item.Date.ToShortDateString()</a></li>
                <li>
                    <a href="~/Home/HomeCategory/@item.CategoryId">
                        <i class="ti-themify-favicon"></i>
                        @{
                         
                            var result = c.Category.Where(x => x.CategoryId == @item.CategoryId).FirstOrDefault();
                        }
                        @result.CategoryName

                    </a>
                </li>
            </ul>
        </div>
        <div class="details mt-20">
            <a href="~/MakaleDetay/@item.BlogId">
                <h3>
                    @item.BlogTitle
                </h3>
            </a>

            @if (item.Text.Length > 500)
            {
                <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Text.Substring(0, 500) + " ..." + "  "))</p>
            }
            else
            {
                <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(@item.Text))</p>
            }

            <a class="button" href="~/Home/BlogDetail/@item.BlogId">Daha Fazla<i class="ti-arrow-right"></i></a>
        </div>
    </div>

}

@*Sayfalama*@


@*
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index","Home",new{page}))

*@
<div class="row">
    <div class="col-lg-12">
        <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
                <li class="page-item">
                    <a href="~/sensive/#" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">
                            <i class="ti-angle-left"></i>
                        </span>
                    </a>
                </li>
                <li class="page-item active"><a href="~/sensive/#" class="page-link">1</a></li>
                <li class="page-item"><a href="~/sensive/#" class="page-link">2</a></li>
                <li class="page-item">
                    <a href="~/sensive/#" class="page-link" aria-label="Next">
                        <span aria-hidden="true">
                            <i class="ti-angle-right"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>