@using BlogWeb.DL.Models
@model BlogWeb.DL.Models.Blog
@{
    ViewData["Title"] = "Makale Detay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="card mb-3">
    <h3 class="card-header">@Model.BlogTitle</h3>
    <div class="card-body">
        <img class="card-img-top" style="max-height:300px;" src="~/images/@Model.ImageUrl">
    </div>

    <div class="card-body">
        <p class="card-text">@Html.Raw(System.Web.HttpUtility.HtmlDecode(@Model.Text))</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            @{
                Context c = new Context();
                var result = c.Category.Where(x => x.CategoryId == @Model.CategoryId).FirstOrDefault();
            }
            @result.CategoryName


        </li>
        <li class="list-group-item">
          @{
               
                var result1 = c.User.Where(x => x.UserId == @Model.UserId).FirstOrDefault();
            }
            @result1.FirstName @result1.LastName

        
        </li>
        <li class="list-group-item">
            @if (@Model.Status==true)
            {
                <p>Yayında</p>
            }
            else
            {
                 <p>Onay Bekliyor</p>   
            }


        </li>
    </ul>
    <div class="card-footer text-muted">
        @Model.Date.ToShortDateString()
    </div>
</div>