@model IEnumerable<BlogWeb.DL.Models.Blog>
@{
    ViewData["Title"] = "Makaleler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    int EklemeSonuc = Convert.ToInt16(TempData["EklemeSonuc"]);
}

@if (EklemeSonuc == 1)
{
    <div class="alert alert-dismissible alert-success">
        <strong>Ekleme Başarılı!</strong> <p> Makale Başarılı Bir şekilde Yayınlandı!</p>
    </div>
}

<table class="table table-hover">

    <thead>
        <tr>
            <th scope="col">Kapak Resmi</th>
            <th scope="col">Başlık</th>
            <th scope="col">İçerik</th>
            <th scope="col">Kategori</th>
            
            <th scope="col">Tarih</th>
            <th scope="col">İşlem</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {

        <tbody>
            <tr class="table-secondary">
                <th scope="row"><img class="card-img-top" style="max-height:100px; max-width:100px;" src="~/images/@item.ImageUrl"></th>
                <td>@item.BlogTitle</td>
                @if (item.Text.Length > 50)
                {
                    <th scope="row">@Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Text.Substring(0, 47) + " ..." + "  ")) </th>
                }
                else
                {
                    <th scope="row">@Html.Raw(System.Web.HttpUtility.HtmlDecode(@item.Text))</th>
                }
                <td>@item._Category.CategoryName</td>
         

                <td>@item.Date.ToShortDateString()</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <a class="btn btn-info" href="~/Admin/BlogDetail/@item.BlogId">Detay</a>
                        <a class="btn btn-warning" href="~/Admin/GetBlog/@item.BlogId">Güncelle</a>
                        <a class="btn btn-danger" onclick="deneme(@item.BlogId)">Sil</a>
                    </div>
                </td>
            </tr>
        </tbody>
    }
</table>


<script>
    function deneme(id) {
        swal({
            title: "Emin misiniz?",
            text: "Makale bilgisini silmek için emin misiniz?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.replace('/Admin/BlogDelete/' + id),
                        swal("Poof! Makale Silindi!", {
                            icon: "success",
                        });
                }
            });
    }

</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


