@model IEnumerable<BlogWeb.DL.Models.Contact>
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    int adet = Convert.ToInt16(TempData["ContactCount"]);
}
@if (adet == 0)
{

    <div class="alert alert-warning" role="alert"> <h6>İletişim mevcut değil.</h6></div>
    <a asp-controller="Admin" asp-action="ContactCreate" class="btn btn-primary mx-2">Hemen Ekle</a>
}

@foreach (var item in Model)
{
    <div class="card-header">
        İletişim
    </div>
    <div class="card-body">
        <p class="card-text">@item.Address</p>
        <p class="card-text">@item.EmailAddress</p>
        <p class="card-text">@item.Phone</p>
        <br>
        <a asp-controller="Admin" asp-action="GetContact" asp-route-id="@item.Id" class="btn btn-primary mx-2">Düzenle</a> &nbsp;  / &nbsp;
        <a onclick="deneme(@item.Id)" class="btn btn-primary mx-2">Sil</a> &nbsp; 
    </div>
}

<script>
    function deneme(id) {
        swal({
            title: "Emin misiniz?",
            text: "İletişim bilgisini silmek için emin misiniz?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.replace('/Admin/ContactDelete/' + id),
                        swal("Poof! İletişim Bilgileri Silindi!", {
                            icon: "success",
                        });
                } 
            });
    }


</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
