@model IEnumerable<BlogWeb.DL.Models.Contact>
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    @{
        int adet= Convert.ToInt16(TempData["ContactCount"]); 
    }
    @if(adet==0){ 
        
        <div class="alert alert-warning" role="alert"> <h6>İletişim bilgileri mevcut değil.</h6></div>


        <a asp-controller="Admin" asp-action="AboutUsCreate" class="btn btn-primary mx-2">Hemen Ekle</a>
    }

@foreach (var item in Model)
{
      <div class="card-header">
        İletişim Bilgileri
      </div>
      <div class="card-body">

        <p class="card-text">@item.Address</p> 
        <p class="card-text">@item.EmailAddress</p> 
        <p class="card-text">@item.Phone</p> 
        <br>
        <a asp-controller="Admin" asp-action="AboutUsEdit" asp-route-id="@item.Id" class="btn btn-primary mx-2">Düzenle</a> &nbsp;  / &nbsp;
        <a asp-controller="Admin" asp-action="AboutUsDelete" asp-route-id="@item.Id" class="btn btn-danger mx-2">Sil</a>
      </div>
}
