@model BlogWeb.DL.Models.Contact
@{
    ViewData["Title"] = "ContactCreate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6">
    <h4>İletişim Bilgisi Ekle</h4> <br />
@using (Html.BeginForm("ContactCreate", "Admin", FormMethod.Post))
{

    @Html.TextBoxFor(x => x.EmailAddress, new {placeholder="Mail Adresi" , @class = "form-control" })
    @Html.ValidationMessageFor(x => x.EmailAddress, "", new { @class = "text-danger" })

    <br />
    @Html.TextBoxFor(x => x.Phone, new {placeholder="Telefon Numarası" ,@class = "form-control" })

    <br />
    @Html.TextBoxFor(x => x.Address, new {placeholder="Adres" , @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })

    <br />

    <button class="btn btn-success">Ekle</button>
}
</div>
