@model BlogWeb.DL.Models.UserModel
@{
    ViewData["Title"] = "Profilim";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{
    int GüncellemeSonuc = Convert.ToInt16(TempData["GüncellemeSonuc"]);
}

@if (GüncellemeSonuc == 1)
{
    <div class="alert alert-dismissible alert-success">
        <strong>Güncelleme Başarılı!</strong> <p>Kullanıcı Başarılı Bir Şekilde Güncellendi </p>
    </div>
}
<style>
    @@media (max-width:991px) {
        .font {
            text-decoration-line: underline;
            text-align: center;
        }
    }

    @@media (max-width:991px) {
        .btnn {
            margin-left: 60px;
        }
    }
</style>
<div class="container">
    <h3 class="font">Profil Bilgileri</h3>

</div>
<form method="post" asp-action="ProfilEdit">
    <div class="p-3 mt-4">
        <div class="col-md-6">
            <input asp-for="UserId" hidden />
            <input asp-for="RoleId" hidden />

            <div class="mb-3">
                <input asp-for="_Role.RoleName" value="@ViewBag.role.RoleName" class="form-control" hidden />
                <span asp-validation-for="_Role.RoleName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="FirstName" value="@ViewBag.user.FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="LastName" value="@ViewBag.user.LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="Email" value="@ViewBag.user.Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="Password" id="password" value="@ViewBag.user.Password" type="password" class="form-control" />
                <label style="margin-top:15px";>Şifreyi Göster</label> <i style="margin-top:15px" ; class="fa fa-eye-slash" onclick="SifreGoster()"></i>
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>
            <button type="submit" class="btn btn-warning btnn">Profil Güncelle</button>

        </div>

    </div>
</form>
<script>
    function SifreGoster() {
        var element = document.getElementById('password');
        element.type = (element.type == 'password' ? 'text' : 'password');
    }

</script>
