@model IEnumerable<BlogWeb.DL.Models.AboutUs>
<div class="col-lg-4  col-md-6 col-sm-6">
    <div class="single-footer-widget">
        <h6>Hakkımızda</h6>
        @foreach (var item in Model)
        {
         
            var sonuc = Html.Raw(System.Web.HttpUtility.HtmlDecode(@item.Text)).ToString();
        


            @if (sonuc.Length > 500)
            {
               @* <p class="card-text">@Html.Raw(System.Web.HttpUtility.HtmlDecode(@Model.Text))</p>*@
                <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(@item.Text.Substring(0, 500) + " ..." + "  "))</p>
            }
            else
            {
                <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(@item.Text))</p>
            }

            <a class="button" href="~/Home/About">Daha Fazla<i class="ti-arrow-right"></i></a>

        }
    </div>
</div>



 