@model BlogWeb.DL.Models.Blog

@{
    ViewData["Title"] = "Makale Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="mb-30px">
    <div class="container">
        <div class="hero-banner hero-banner--sm">
            <div class="hero-banner__content">
                <h1>Makale Detay</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Anasayfa">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Makale Detay</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="blog-post-area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="main_blog_details">
                    <img class="img-fluid" src="" alt="">
                    <a ><h4>@Model.BlogTitle</h4></a>
                    <div class="user_details">
                        <div class="float-left">
                            <a href="#">@ViewBag.categoryName</a>
                        </div>
                        <div class="float-right mt-sm-0 mt-3">
                            <div class="media">
                                <div class="media-body">
                                    <h5>@ViewBag.userName</h5>
                                    <p>@Model.Date.ToShortDateString()</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(@Model.Text))</p>

                </div>

            </div>




            <div class="col-lg-4 sidebar-widgets">
                <div class="widget-wrap">
                    <div class="single-sidebar-widget popular-post-widget">
                        <h4 class="single-sidebar-widget__title">Son Makaleler</h4>
                        @await Component.InvokeAsync("RecentArticlesGet")
                    </div>
                    <!--Category-->
                    @await Component.InvokeAsync("CategoryGet")
                  
                </div>
            </div>
        </div>

    </div>
</section>
